---
- name: 01 - Docker engine Installation & Setup
  hosts: servers
  become: true
  vars:
    docker_packages:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    user_to_add: #USERNAME

  tasks:
    - name: Remove conflicting/old packages
      ansible.builtin.apt:
        name: [docker.io, docker-doc, docker-compose, podman-docker, containerd, runc]
        state: absent 

    - name: Install required dependencies
      ansible.builtin.apt:
        name:
        - ca-certificates
        - curl
        - gnupg
        state: present
        update_cache: yes

    - name: Create directory for apt keyrings
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download Docker's official GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
        force: true

    - name: Add Docker repository to Apt sources
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ ansible_architecture | replace('x86_64','amd64') }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
        filename: docker

    - name: Install Docker Engine and plugins
      ansible.builtin.apt:
        name: "{{ docker_packages }}"
        state: present
        update_cache: yes

    - name: Add user to 'docker' group (Rootless mode)
      ansible.builtin.user:
        name: "{{ user_to_add }}"
        groups: docker
        append: yes

    - name: Enable and start Docker service
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: yes